.idea
tmp/
__pycache__
__pycache__/
runs/
.vscode/
wandb/
figures/
jax/
site/
config/
.coverage
.run
.venv
.zed
data_processing/misc
experiment_data/
.ipynb_checkpoints/
saved_models/
.DS_STORE
debug_*
*.jsonl
*.png
experimental/benchmarks/results
experimental/benchmarks/figures
archive
misc
*_results